COMPOSE_PROJECT_NAME=atlas-insight

POSTGRES_USER=dagster
POSTGRES_PASSWORD=dagster
POSTGRES_DB=dagster
POSTGRES_PORT=5433

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio12345
MINIO_BUCKET=atlas-bronze
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://minio:9000
AWS_REGION=us-east-1

DAGSTER_PORT=3000
DBT_TARGET=local
DBT_DUCKDB_PATH=/opt/project/storage/warehouse/analytics.duckdb

RILL_PORT=9009

MOTHERDUCK_DATABASE=atlas_insight
MOTHERDUCK_TOKEN=