.env
__pycache__/
.pytest_cache/
.venv/

dbt/target/
dbt/logs/
dbt/.user.yml
dbt_packages/

dagster/dagster_home/storage/
dagster/dagster_home/logs/

storage/warehouse/*.duckdb
storage/warehouse/*.wal
rill/project/data/*.parquet
rill/project/tmp/

*.pyc

datasets/